
button.unstyled {
  background: none;
  border: none;
  cursor: pointer;
}

.combatants {
  border: 1px solid;
  padding: 10px;
  min-height: 350px;
  overflow: hidden;
  box-sizing: border-box;
}

.combatants li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

.character-list {
  vertical-align: top;
  display: inline-block;
}

.character-list li {
  list-style: none;
  margin-bottom: 10px;
}

.character {
  border: 1px solid;
  border: 1px solid;
  width: 275px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 5px;
}

.attribute, .modifier {
  display: inline-block;
}

.attribute input, .modifier input {
  display: block;
  width: 50px;
}

.attribute input.name {
  width: 170px;
}

.modifier input {
  width: 35px;
}

.attacks, .skills {
  list-style: none;
  padding-left: 0px;
}

.skill {
  display: inline-block;
}

.skill input {
  width: 70px;
  display: block;
}

.attack-name {
  width: 120px;
}

.bonus {
  width: 35px;
}

.dmg {
  width: 70px;
}

.kind {
  width: 70px;
}

.range { 
  width: 70px;
}

.special {
  width: 170px;
}

.modifier.trait-name {
  display: block;
}

.modifier.trait-name input {
  width: 225px;
}

.trait-text {
  width: 225px;
}

.attribute.languages input, 
.attribute.resistances input, 
.attribute.immunities input, 
.attribute.vulnerabilites input{
  width: 220px;
}

